$color1: orangered;

.background{
  background-size: cover;
}
#index {
  @extend .background;
  background-image: url("../img/background/pexels-photo-14075.jpeg");
}
#show {
  @extend .background;
  background-image: url("../img/background/vintage-music-white-sound.jpg");
}
#showAll {
  background-image: url("../img/background/music-sound-audio-recording.jpg");
  @extend .background;
}
#showAllCritiques {
  background-image: url("../img/background/star.jpg");
  @extend .background;
}
#update-vote {
  background-image: url("../img/background/k7.jpeg");
  @extend .background;
}
#addProduit {
  background-image: url("../img/background/work.jpeg");
  @extend .background;
}
#registering {
  background-image: url("../img/background/rec.jpeg");
  @extend .background;
}
#connecting {
  background-image: url("../img/background/technology-music-sound-audio.jpg");
  @extend .background;
}
.background-box {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.connect-box {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.panel-default {
  background-color: rgba(white, 0.7);
}

.hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color1;
  margin: 4em 0;
  padding: 0;
}
.panel-body .center {
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left;
}

.right {
  float: right;
}

.thumbnail-short {
  width: 35px;
  float: left;
}

.vote-title {
  float: left;
  margin: 0 1rem;
  line-height: 35px;
}

.critique {
  textarea {
    width: 100%;
    margin: 1rem 0px;
    resize: none;
  }
}
.up {
  margin-top: 2rem;
}

.upp {
  text-transform: uppercase;
}

.color-star {
  margin: 0 1rem;
  color: $color1;
}

.search {
  input[type=text] {
    margin: 0 auto;
    width: 60%;
    line-height: 3rem;
    font-size: 2rem;
  }
  input[type=submit] {
    width: 38%;
    margin-left: 2%;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bolder;
    &:hover {
      transition-delay: 0.1s;
      transition-duration: 0.4s;
      color: $color1;
      background-color: #337ab7;
      border: inherit;

    }
  }
}
.heigh-search {
  line-height: 1rem;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/Fontawesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/Fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/Fontawesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/Fontawesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/Fontawesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/Fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.line {
  span {
    margin: 0 10px 0 10px;
  }
  color: $color1;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  &:after, &:before {
    background-color: $color1;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em;
    //margin: 0 10px 0 10px;
  }
}

.line-white {
  @extend .line;
  color: white;
  &:after, &:before {
    background-color: white;
  }

}

.line.title {
  span {
    margin: 0 10px 0 10px;
  }
  color: $color1;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  &:after, &:before {
    background-color: $color1;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em;
    //margin: 0 10px 0 10px;
  }
}

.line-show {
  span {
    margin: 0 10px 0 0;
  }
  color: $color1;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  &:after {
    background-color: $color1;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em;
    //margin: 0 10px 0 10px;
  }
}

.vignet {
  width: 60px;
}

fieldset, label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
/*https://codepen.io/jamesbarnett/pen/vlpkh*/

.rating {
  border: none;
  float: right;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/***** 404 https://codepen.io/edbond88/pen/JiCKe *****/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #ccc;
  font: bold 14px/20px "Trajan Pro", "Times New Roman", Times, serif;
  color: #430400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15); }

.error-page-wrap {
  width: 310px;
  height: 310px;
  margin: 155px auto; }
.error-page-wrap:before {
  box-shadow: 0 0 200px 150px #fff;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  position: relative;
  z-index: -1;
  content: '';
  display: block; }

.error-page {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  top: -310px;
  position: relative;
  text-align: center;
  background: #d36242;
  background: -moz-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d36242), color-stop(100%, darkred));
  background: -webkit-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -o-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -ms-linear-gradient(top, #d36242 0%, darkred 100%);
  background: linear-gradient(to bottom, #d36242 0%, darkred 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColor', endColorstr='$secondColor',GradientType=0 ); }
.error-page:before {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  box-shadow: 3px 25px 0 5px #C95439;
  content: '';
  z-index: -1;
  display: block;
  position: relative;
  top: -19px;
  left: 44px; }
.error-page:after {
  width: 310px;
  height: 17px;
  margin: 0 auto;
  top: 25px;
  content: '';
  z-index: -1;
  display: block;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(35, 26, 26, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#003c2c2c',GradientType=1 ); }
.error-page h1 {
  color: rgba(255, 255, 255, 0.94);
  font-size: 100px;
  margin: 65px auto 0 auto;
  text-shadow: 0px 0 7px rgba(0, 0, 0, 0.5); }
.error-page h1:before {
  width: 260px;
  height: 1px;
  position: relative;
  margin: 0 auto;
  top: 70px;
  content: '';
  display: block;
  background: -moz-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(111, 25, 25, 0.65)), color-stop(70%, rgba(75, 38, 38, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a66f1919', endColorstr='#003c2c2c',GradientType=1 ); }
.error-page h1:after {
  width: 260px;
  height: 1px;
  content: '';
  display: block;
  opacity: 0.2;
  margin: 0 auto;
  top: 50px;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247, 173, 148, 0.65)), color-stop(99%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6f7ad94', endColorstr='#00ffffff',GradientType=1 ); }
.error-page h2 {
  margin: 55px 0 30px 0;
  font-size: 17px; }
.error-page h2:before {
  width: 130px;
  height: 1px;
  position: relative;
  margin: 0 auto;
  top: 31px;
  content: '';
  display: block;
  background: -moz-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(111, 25, 25, 0.65)), color-stop(70%, rgba(75, 38, 38, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a66f1919', endColorstr='#003c2c2c',GradientType=1 ); }
.error-page h2:after {
  width: 130px;
  height: 1px;
  content: '';
  display: block;
  opacity: 0.2;
  margin: 0 auto;
  top: 11px;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247, 173, 148, 0.65)), color-stop(99%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6f7ad94', endColorstr='#00ffffff',GradientType=1 ); }

.error-back {
  text-decoration: none;
  color: #430400;
  font-size: 15px; }
.error-back:hover {
  color: #EB957D;
  text-shadow: 0 0 3px black; }