@import 'theme';

body {
  font-family: 'Lato';
  background-color: #888a85;
  margin: 0;
}

footer {
  background-color: $color1;
  .pied {
    background-color: rgba(#000, 0.1);
    padding: 2rem 0 2rem;
  }
}

.navbar {
  margin: 0;
}

.fa-btn {
  margin-right: 6px;
}

.logoMusic {
  font-size: 4rem;
  color: orangered;
}

.logoMenu {
  color: orangered;
  text-transform: uppercase;
}

.cover {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.section {
  margin: 2rem 0 2rem 0;
}

.inner-section {
  padding: 2rem 0;
}

#index {
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid dimgrey;
    padding: 0;
  }
}



/*@@@@@@@@@@@@@@@@@@@@@@@  WELCOME  @@@@@@@@@@@@@@@@@@@@@@@*/
.text-infos {
  h1 {
    //text-align: center;
  }

  p.heigh {
    min-height: 100px;
  }

}

/*@@@@@@@@@@@@@@@@@@@@@@@  ADD PRODUIT  @@@@@@@@@@@@@@@@@@@@@@@*/

#addProduit {
  textarea, input, select {
    resize: none;
    width: 100%;
    height: auto;
  }
}

/*@@@@@@@@@@@@@@@@@@@@@@@  INFOS ALBUM  @@@@@@@@@@@@@@@@@@@@@@@*/
.infos-album {
  h1, h2, h3, h4 {
    text-align: right;
  }
  min-height: 410px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW  @@@@@@@@@@@@@@@@@@@@@@@*/

#show {

  .classement-size {
    color: $color1;
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;

  }
  button {
    text-transform: uppercase;
  }
  h2.no-margin {
    margin:0;
  }

  .genre-heigh {
    min-height: 252.5px;
  }
}
#show, #showAll, #showAllCritiques, #update-vote, #vote {
  a.space-bottom {
    margin-bottom: 2rem;
  }
  hr {
    @extend .hr;
  }
}
/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW ALL  @@@@@@@@@@@@@@@@@@@@@@@*/

#showAll {
  .click{
    width: 50%;
    float: left;
    margin-top: 0;
    &:hover{
      background-color: rgba(red, 0.3);
      border: 1px solid $color1;
      transition-duration: 0.2s;
      transition-delay: 0.1s;
    }
  }

  .fa {
    color: $color1;
  }
  a {
    text-decoration: none;
  }

  .list-group-item {
    h4 {
      margin: 2rem;
    }
    h4.showall-title {
      margin: 2rem;
      &:hover {
        font-size: 1.4rem;
        margin: 1.9rem;
        transition: .2s;
        transition-delay: .1s;
      }
    }
  }
}
/*@@@@@@@@@@@@@@@@@@@@@@@  VOTE  @@@@@@@@@@@@@@@@@@@@@@@*/

.vote-size {
  @extend .classement-size;
  //width: 50%;
}
/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW CRITIQUES  @@@@@@@@@@@@@@@@@@@@@@@*/

#showAllCritiques {
  li {
    margin-bottom: 2rem;
  }
}