.background, #index, #show, #showAll, #showAllCritiques, #update-vote, #addProduit, #registering, #connecting {
  background-size: cover; }

#index {
  background-image: url("../img/background/pexels-photo-14075.jpeg"); }

#show {
  background-image: url("../img/background/vintage-music-white-sound.jpg"); }

#showAll {
  background-image: url("../img/background/music-sound-audio-recording.jpg"); }

#showAllCritiques {
  background-image: url("../img/background/star.jpg"); }

#update-vote {
  background-image: url("../img/background/k7.jpeg"); }

#addProduit {
  background-image: url("../img/background/work.jpeg"); }

#registering {
  background-image: url("../img/background/rec.jpeg"); }

#connecting {
  background-image: url("../img/background/technology-music-sound-audio.jpg"); }

.background-box {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.connect-box {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.panel-default {
  background-color: rgba(255, 255, 255, 0.7); }

.hr, #show hr, #showAll hr, #showAllCritiques hr, #update-vote hr, #vote hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid orangered;
  margin: 4em 0;
  padding: 0; }

.panel-body .center {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.thumbnail-short {
  width: 35px;
  float: left; }

.vote-title {
  float: left;
  margin: 0 1rem;
  line-height: 35px; }

.critique textarea {
  width: 100%;
  margin: 1rem 0px;
  resize: none; }

.up {
  margin-top: 2rem; }

.upp {
  text-transform: uppercase; }

.color-star {
  margin: 0 1rem;
  color: orangered; }

.search input[type=text] {
  margin: 0 auto;
  width: 60%;
  line-height: 3rem;
  font-size: 2rem; }
.search input[type=submit] {
  width: 38%;
  margin-left: 2%;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: bolder; }
  .search input[type=submit]:hover {
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    color: orangered;
    background-color: #337ab7;
    border: inherit; }

.heigh-search {
  line-height: 1rem; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/Fontawesome/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/Fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/Fontawesome/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/Fontawesome/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/Fontawesome/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/Fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.line, .line-white {
  color: orangered;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase; }
  .line span, .line-white span {
    margin: 0 10px 0 10px; }
  .line:after, .line-white:after, .line:before, .line-white:before {
    background-color: orangered;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em; }

.line-white {
  color: white; }
  .line-white:after, .line-white:before {
    background-color: white; }

.line.title, .title.line-white {
  color: orangered;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase; }
  .line.title span, .title.line-white span {
    margin: 0 10px 0 10px; }
  .line.title:after, .title.line-white:after, .line.title:before, .title.line-white:before {
    background-color: orangered;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em; }

.line-show {
  color: orangered;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  text-transform: uppercase; }
  .line-show span {
    margin: 0 10px 0 0; }
  .line-show:after {
    background-color: orangered;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.7em; }

.vignet {
  width: 60px; }

fieldset, label {
  margin: 0;
  padding: 0; }

body {
  margin: 20px; }

h1 {
  font-size: 1.5em;
  margin: 10px; }

/****** Style Star Rating Widget *****/
/*https://codepen.io/jamesbarnett/pen/vlpkh*/
.rating {
  border: none;
  float: right; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/***** 404 https://codepen.io/edbond88/pen/JiCKe *****/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #ccc;
  font: bold 14px/20px "Trajan Pro", "Times New Roman", Times, serif;
  color: #430400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15); }

.error-page-wrap {
  width: 310px;
  height: 310px;
  margin: 155px auto; }

.error-page-wrap:before {
  box-shadow: 0 0 200px 150px #fff;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  position: relative;
  z-index: -1;
  content: '';
  display: block; }

.error-page {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  top: -310px;
  position: relative;
  text-align: center;
  background: #d36242;
  background: -moz-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d36242), color-stop(100%, darkred));
  background: -webkit-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -o-linear-gradient(top, #d36242 0%, darkred 100%);
  background: -ms-linear-gradient(top, #d36242 0%, darkred 100%);
  background: linear-gradient(to bottom, #d36242 0%, darkred 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColor', endColorstr='$secondColor',GradientType=0 ); }

.error-page:before {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  box-shadow: 3px 25px 0 5px #C95439;
  content: '';
  z-index: -1;
  display: block;
  position: relative;
  top: -19px;
  left: 44px; }

.error-page:after {
  width: 310px;
  height: 17px;
  margin: 0 auto;
  top: 25px;
  content: '';
  z-index: -1;
  display: block;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(35, 26, 26, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#003c2c2c',GradientType=1 ); }

.error-page h1 {
  color: rgba(255, 255, 255, 0.94);
  font-size: 100px;
  margin: 65px auto 0 auto;
  text-shadow: 0px 0 7px rgba(0, 0, 0, 0.5); }

.error-page h1:before {
  width: 260px;
  height: 1px;
  position: relative;
  margin: 0 auto;
  top: 70px;
  content: '';
  display: block;
  background: -moz-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(111, 25, 25, 0.65)), color-stop(70%, rgba(75, 38, 38, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a66f1919', endColorstr='#003c2c2c',GradientType=1 ); }

.error-page h1:after {
  width: 260px;
  height: 1px;
  content: '';
  display: block;
  opacity: 0.2;
  margin: 0 auto;
  top: 50px;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247, 173, 148, 0.65)), color-stop(99%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6f7ad94', endColorstr='#00ffffff',GradientType=1 ); }

.error-page h2 {
  margin: 55px 0 30px 0;
  font-size: 17px; }

.error-page h2:before {
  width: 130px;
  height: 1px;
  position: relative;
  margin: 0 auto;
  top: 31px;
  content: '';
  display: block;
  background: -moz-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(111, 25, 25, 0.65)), color-stop(70%, rgba(75, 38, 38, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a66f1919', endColorstr='#003c2c2c',GradientType=1 ); }

.error-page h2:after {
  width: 130px;
  height: 1px;
  content: '';
  display: block;
  opacity: 0.2;
  margin: 0 auto;
  top: 11px;
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247, 173, 148, 0.65)), color-stop(99%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6f7ad94', endColorstr='#00ffffff',GradientType=1 ); }

.error-back {
  text-decoration: none;
  color: #430400;
  font-size: 15px; }

.error-back:hover {
  color: #EB957D;
  text-shadow: 0 0 3px black; }

body {
  font-family: 'Lato';
  background-color: #888a85;
  margin: 0; }

footer {
  background-color: orangered; }
  footer .pied {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem 0 2rem; }

.navbar {
  margin: 0; }

.fa-btn {
  margin-right: 6px; }

.logoMusic {
  font-size: 4rem;
  color: orangered; }

.logoMenu {
  color: orangered;
  text-transform: uppercase; }

.cover {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }

.section {
  margin: 2rem 0 2rem 0; }

.inner-section {
  padding: 2rem 0; }

#index hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid dimgrey;
  padding: 0; }

/*@@@@@@@@@@@@@@@@@@@@@@@  WELCOME  @@@@@@@@@@@@@@@@@@@@@@@*/
.text-infos p.heigh {
  min-height: 100px; }

/*@@@@@@@@@@@@@@@@@@@@@@@  ADD PRODUIT  @@@@@@@@@@@@@@@@@@@@@@@*/
#addProduit textarea, #addProduit input, #addProduit select {
  resize: none;
  width: 100%;
  height: auto; }

/*@@@@@@@@@@@@@@@@@@@@@@@  INFOS ALBUM  @@@@@@@@@@@@@@@@@@@@@@@*/
.infos-album {
  min-height: 410px; }
  .infos-album h1, .infos-album h2, .infos-album h3, .infos-album h4 {
    text-align: right; }

/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW  @@@@@@@@@@@@@@@@@@@@@@@*/
#show .classement-size, #show .vote-size {
  color: orangered;
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif; }
#show button {
  text-transform: uppercase; }
#show h2.no-margin {
  margin: 0; }
#show .genre-heigh {
  min-height: 252.5px; }

#show a.space-bottom, #showAll a.space-bottom, #showAllCritiques a.space-bottom, #update-vote a.space-bottom, #vote a.space-bottom {
  margin-bottom: 2rem; }

/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW ALL  @@@@@@@@@@@@@@@@@@@@@@@*/
#showAll .click {
  width: 50%;
  float: left;
  margin-top: 0; }
  #showAll .click:hover {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid orangered;
    transition-duration: 0.2s;
    transition-delay: 0.1s; }
#showAll .fa {
  color: orangered; }
#showAll a {
  text-decoration: none; }
#showAll .list-group-item h4 {
  margin: 2rem; }
#showAll .list-group-item h4.showall-title {
  margin: 2rem; }
  #showAll .list-group-item h4.showall-title:hover {
    font-size: 1.4rem;
    margin: 1.9rem;
    transition: .2s;
    transition-delay: .1s; }

/*@@@@@@@@@@@@@@@@@@@@@@@  VOTE  @@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@  SHOW CRITIQUES  @@@@@@@@@@@@@@@@@@@@@@@*/
#showAllCritiques li {
  margin-bottom: 2rem; }

/*# sourceMappingURL=style.css.map */
